<DSF>
    <Service name="geolocal" id="127" maxThreadCount="500">
        <Commmunication>
            <SocketPool bufferSize="4096" minPoolSize="2" maxPoolSize="5" nagle="true" autoShrink="00:00:30" sendTimeout="00:00:30"
                receiveTimeout="00:00:30" waitTimeout="00:00:30" protected="true" />
            <Protocol serialize="DSF" encoder="UTF-8" compressType="UnCompress" />
        </Commmunication>
         <Loadbalance>      
            <Server deadTimeout="00:00:30">        
                <add host="10.37.31.31" maxCurrentUser="100" name="geolocal" port="10033"/>       
            </Server>    
        </Loadbalance>  
    </Service>
</DSF>